.login_container {
    margin: 0 10%;
}
.primary{
    color: #387ef5;
}
.rt{
    text-align: right;
}
.login_title{
    
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin: 20% 0 0 0;
}