<ion-content >
  <div class="home_img">
</div>
  <div class="home_head">
     <ion-row>
       <ion-col width-25><button ion-button icon-left clear color="secondary"><ion-icon class="micon" name="paper"></ion-icon></button><br><span>日常记录</span></ion-col>
       <ion-col class="middle_line" width-25><button ion-button icon-left clear color="dark"><ion-icon class="micon1" name="pulse"></ion-icon></button><br><span>导入数据</span></ion-col>
       <ion-col class="middle_line" width-25><button ion-button icon-left clear color="danger"><ion-icon class="micon2" name="man"></ion-icon></button><br><span>健康指导</span></ion-col>
       <ion-col class="middle_line" width-25><button ion-button icon-left clear color="primary"><ion-icon class="micon3" name="alarm"></ion-icon></button><br><span>预约挂号</span></ion-col>
     </ion-row>
  </div>
  <!--天气-->
  <div class="home_wheather">
    <ion-grid>
      <ion-row>
        <ion-col width-10 class="wheather_icon"><ion-icon name="sunny"></ion-icon></ion-col>
        <ion-col width-20 class="temp">{{Weather?.currenttemperature}}</ion-col>
        <ion-col width-25 class="wheather_city">{{Weather?.weather}}<br>{{Weather?.currentCity}}</ion-col>
        <ion-col width-15 class="pm2_num">{{Weather?.pm}}</ion-col>
        <ion-col width-20 class="pm2_type">PM2.5<br>{{Weather?.pm|pm}}</ion-col>
        <ion-col width-10 class="pm2_icon"><ion-icon name="pin"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--广告位轮播图-->
  <ion-slides pager>

  <ion-slide class="slide-image" style="background-image: url('assets/img/hospital.jpg');">
  </ion-slide>

  <ion-slide class="slide-image" style="background-image: url('assets/img/hospital.jpg');">
  </ion-slide>

  <ion-slide class="slide-image" style="background-image: url('assets/img/hospital.jpg');">
  </ion-slide>

</ion-slides>
<!--常见慢性病-->
<div class="common_diseases"> 
  <span class="Title">常见慢病</span>
  <ion-grid>
      <ion-row>
        <ion-col width-20 *ngFor="let item of CommonDisease" (click)="commonDisease(item.Code)"><div class="commonDisease_icon"><ion-icon name="pin"></ion-icon></div><span>{{item.Value}}</span></ion-col>
      </ion-row>
    </ion-grid>
</div>
<!--资讯-->
<div class="health_news">
  <span class="Title">健康资讯</span>
  <ion-list >
    <ion-item *ngFor="let new of News" (click)="new_detail(new.ID)">
      <ion-thumbnail item-left>
        <img style ="width: 120px" src="assets/img/hospital.jpg">
      </ion-thumbnail>
      <h2>{{new.Title}}</h2>
      <p>{{new.Zhaiyao}}</p>
      <span>{{new.CreatedDate}}</span>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>loading...</ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
</ion-content>
