<ion-content >
  <div class="home_img">
</div>
  <div class="home_head">
     <ion-row>
       <ion-col width-50><button ion-button icon-left clear color="secondary"><ion-icon name="paper"></ion-icon><span>日常记录</span></button></ion-col>
       <ion-col class="middle_line" width-50><button ion-button icon-left clear color="danger"><ion-icon name="man"></ion-icon><span>健康指导</span></button></ion-col>
     </ion-row>
  </div>
  <!--天气-->
  <div class="home_wheather">
    <ion-grid>
      <ion-row>
        <ion-col width-10><ion-icon name="sunny"></ion-icon></ion-col>
        <ion-col width-10>{{Weather?.currenttemperature}}</ion-col>
        <ion-col width-20>{{Weather?.weather}}<br>{{Weather?.currentCity}}</ion-col>
        <ion-col width-20>{{Weather?.pm}}</ion-col>
        <ion-col width-20>PM2.5<br>{{Weather?.pm|pm}}</ion-col>
        <ion-col width-20><ion-icon name="pin"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--广告位轮播图-->
  <ion-slides pager>

  <ion-slide class="slide-image" style="background-image: url('../../assets/img/hospital.jpg');">
    <h2>广告 1</h2>
  </ion-slide>

  <ion-slide class="slide-image" style="background-image: url('../../assets/img/hospital.jpg');">
    <h2>广告 2</h2>
  </ion-slide>

  <ion-slide class="slide-image" style="background-image: url('../../assets/img/hospital.jpg');">
    <h2>广告 3</h2>
  </ion-slide>

</ion-slides>
<!--常见慢性病-->
<div class="common_diseases"> 
  <span>常见慢性病</span>
  <ion-grid>
      <ion-row>
        <ion-col width-20 *ngFor="let item of CommonDisease"><ion-icon name="pin"></ion-icon><br>{{item.Value}}</ion-col>
      </ion-row>
    </ion-grid>
</div>
<!--资讯-->
<div class="health_news">
  <span>健康资讯</span>
  <ion-list >
    <ion-item *ngFor="let new of News" (click)="new_detail(new.ID)">
      <ion-thumbnail item-left>
        <img src="../../assets/img/hospital.jpg">
      </ion-thumbnail>
      <h2>{{new.Title}}</h2>
      <p>{{new.Zhaiyao}}</p>
      <span>{{new.CreatedDate}}</span>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>loading...</ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
</ion-content>
