<!--
  Generated template for the Detail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <div *ngIf="type === 2">
    <ion-segment [(ngModel)]="tabs">
      <ion-segment-button value="{{item.value}}" *ngFor="let item of segments">
        {{item.name}}
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="tabs" style="    margin: 2rem 1rem;">
    <div *ngSwitchCase="'abstract'"  [innerHTML] = "content1">
        
    </div>
    <div *ngSwitchCase="'cause'"  [innerHTML] = "content2">

    </div>
    <div *ngSwitchCase="'symptom'"  [innerHTML] = "content3">

    </div>
    <div *ngSwitchCase="'diagnose'"  [innerHTML] = "content4">

    </div>
    <div *ngSwitchCase="'treat'"  [innerHTML] = "content5">

    </div>
  </div>
  <div *ngIf="type === 1" [innerHTML] = "content">

  </div>
</ion-content>
